<h1>Add a member</h1>

<p>Add a member here:</p>

<form action="/members" method="post">
  <label for="name">Member name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn">Add Member  </button>
</form>
