<p>Add a new Team:</p>

<form action="/teams" method="post">
  <label for="name">Team Name</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn">Add Team</button>
</form>
